
    $primary-color: #90B63E;
    $blanco: #F5F5F5;
    $color-lima-claro:#ABCA68;
    $color-negro: #141415;
    $gris-color: #7F7F81;
    $box-shadow: 1px 0 15px rgba(0, 0, 0, 0.2);
    $skill-bar-length:0% ;
    $border-radius: 16px;
  


    